doctype html
html
    head
        script(src='/demo2.js')
        title= title
    body
        div.content
            canvas#canvas
        div.controller
            button#play play
            button#stop stop
