doctype html
html
    head
        title= title
        style.
            table,td,th { border: solid 1px #ccc; text-align: center; font-size: 10px}

    body
        table#tb
            th name
            th age
            th gender
            th is alive
            th investigation year
            th count
        script(src='/parser.js')
        script(src='/demo3.js')